<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWVwkbo7CVdQZEUFopOk3x-BD2ntgHYWY</string>
	<key>GCM_SENDER_ID</key>
	<string>755013380692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trackingapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tracking-app-a7c10</string>
	<key>STORAGE_BUCKET</key>
	<string>tracking-app-a7c10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755013380692:ios:cc9aa3b3a4fa9affe7dbc1</string>
</dict>
</plist>